<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Saruman War - Orc Singup</title>
</head>
<body>

<form action="" method="POST">
	<input type="text" name="name" id="">

	<label for="race">Race:</label>
	<select name="race" id="race">
		<option value=""></option>
		<option value=""></option>
		<option value=""></option>
	</select>

	<label for="Region">Region:</label>
	<select name="region" id="region">
		<option value=""></option>
		<option value=""></option>
		<option value=""></option>
	</select>


	<input type="text" name="Login" id="">
	<input type="password" name="password" id="">

	<input type="submit" value="Sign up">
</form>
	
</body>
</html>